@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ***** Container ****** */

.container {
  margin: 0;
  padding: 0;
  display: grid;
  /*grid-template:
    /*"header" header heade 50px
    "main main main " 1fr
    "footer footer footer" 50px /
    150px 1fr 150px;
  /*grid-template-columns: 200px,1fr,200px; */
  /*grid-template-columns: repeat(3, 1fr) */
  width: 100%;
  grid-gap: 5px;
}
/* ***** Header ****** */

.hero-container {
  height: 522px;
  width: 100%;
  background-image: linear-gradient(to bottom, #011621ba, rgb(60 54 54 / 45%)),
    url("./assets/hero.jpg");

  /* background-image: url("./assets/hero.jpg"),
    linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(34, 153, 195, 1) 100%);
  /* url("./assets/simax_home_cover.svg"), url("./assets/hero.jpg")*/

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left, center;
  background-position-y: 20%;
}
.hero-content {
  position: absolute;
  /* position: relative; */
  top: 22%;
  left: 32%;
  color: #ffffff;
}

.hero-content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 800px;
  text-transform: uppercase;
}

.hero-content p {
  position: relative;
  left: 10%;
  top: 40px;
}

svg {
  position: absolute;
  top: 0;
  left: 20%;
  opacity: 0.6;
}

header {
  display: grid;
  grid-template:
    "logo nav " 75px/
    1fr 1fr;
  background-color: #0f206c;
  /* background-image: url("./assets/hero.jpg"),
    linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(34, 153, 195, 1) 100%);
  /* url("./assets/simax_home_cover.svg"), url("./assets/hero.jpg")*/
}

/******* *logo* ********/
.logo {
  margin-top: 15px;
  margin-left: 100px;
  color: white;
  font-size: 30px;
}

.logo-image {
  position: relative;
  bottom: -8px;
}
.nav {
  display: flex;
}

.menu {
  display: flex;
  margin-top: 30px;
  color: white;
}

.menu-item {
  margin: 10px;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.menu-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu-item a:hover {
  text-decoration: underline;
  color: #ff1044;
}
.menu-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu-link:hover {
  color: #ff1044;
}
.menu-item a:hover {
  color: #ff1044;
}
nav a {
  color: yellow;
}
nav a:hover {
  color: red;
}

/* ***** Filter ****** */

.filter-menu {
  margin: 30px;
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 933px;
  height: 71px;
}
.filter-1 {
  color: #0f206c;
}
.filter-item {
  display: flex;
  margin: 10px;
}
.filter-item li {
  list-style: none;
  margin: 10px;
}

.filter-item label {
  align-items: center;
}

.filter-item label input {
  width: 18px;
  height: 18px;
}
.filter-item label input {
  position: relative;
  top: 3px;
  margin: 5px;
  align-items: center;
}

/* ***** Card ****** */

main {
  display: grid;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin-top: 10px;

  /*grid-template:
    /*"header" header heade 50px
    "main main main " 1fr
    "footer footer footer" 50px /
    150px 1fr 150px;
   /*grid-template-columns: 200px,1fr,200px; */
  /*grid-template-columns: repeat(3, 1fr) */
}
.card-container {
  width: 80%;
  height: 380px;
  /* border: solid 3px black; */
  margin-left: auto;
  /* margin-right: auto; */
  /* margin: auto; */
}
.card-container:hover .btn-danger {
  display: block;
  position: relative;
  top: -44%;
  left: 34%;
  background-color: #3ad678;
  color: white;

  width: 130px;
  height: 35px;
  border: none;
}
.card-container .btn-danger {
  display: none;
}
.card-container .btn-danger a {
  color: white;
}

.x ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 380px;
  grid-gap: 10px;
  /* grid-auto-rows: 384px; */
}

.card-background {
  filter: grayscale(100%) brightness(30%);
  width: 400px;
}

.card-image {
  position: relative;
  width: 360px;
  height: 312px;
}
.card-container .card-background:hover {
  filter: none;
}

.card-container .card-content {
  display: inline-block;
  width: 113%;
  text-align: center;
}
.card-container .card-content:hover {
  display: none;
}

.card-container .card-button button {
  position: absolute;
  bottom: -34%;
  width: 163px;
  height: 49px;
  background-color: #0f206c;
  opacity: 0.4;
}
.card-container .card-button button:hover {
  opacity: 1;
}

.card-content button a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
/*.card-content p {
  display: grid;
  justify-content: center;
  position: relative;
  bottom: 190px;
  color: white;
}*/
.card-container .card-content .card-place {
  display: grid;
  justify-content: center;
  margin: 10px 0 10px 0px;
  position: relative;
  bottom: 300px;
  color: white;
}
.card-container:hover .card-content .card-place {
  display: none;
}
.card-container .card-content .card-details {
  display: grid;
  justify-content: center;
  position: relative;
  bottom: 290px;
  color: white;
}
.card-container:hover .card-content .card-details {
  display: none;
}

.card-container .card-content .card-price {
  position: relative;
  bottom: 260px;
  color: white;
}

.card-container:hover .card-content .card-price {
  display: none;
}

.card-content hr {
  border: 0.1px solid #ff1044;
  width: 100px;
  margin: 5px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  position: relative;
  left: 20%;
}

.details {
  display: flex;
  justify-content: center;
  font-size: 23px;
}

/* ***** Emphasized ****** */

.emphasized-container {
  display: grid;
  justify-content: center;
  display: grid;
  margin: 50px;
}
.emphasized-box {
  display: flex;
  /* background-color: lightblue; */
  height: 400px;
  max-width: 1125px;

  justify-content: center;
}

.emphasized-box h1 {
  margin: 15px;
}

.emphasized-box p {
  margin: 15px;
}

.emphasized-image {
  width: 654px;
}

#emp-b {
  position: relative;
  /* margin: 24px; */
  margin-left: 15px;
  margin-bottom: 15px;
  height: 45px;
  width: 119px;
  border: NaNpx solid #cfcfcf;
  background-color: #ffffff;
  text-transform: uppercase;
}

/* ***** Emphasized ****** */

.footer-top {
  height: 300px;
  background-color: #ecf1ff;
  text-align: center;
}

.footer-top h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 37px;
}

.footer-top {
  height: 324px;
  display: grid;
  /* width: 458px; */
  justify-content: center;
}

.footer-container {
  width: 620px;
}

.footer-content {
  justify-content: center;
  display: inline;
  height: 111px;
  width: 458px;
}

.footer-content p {
  padding: 20px;
}

input::placeholder {
  position: relative;
  left: 10px;
  color: #000000;
  font-family: OpenSans;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.submit {
  height: 50px;
  width: 117px;
  background-color: #0f206c;
  color: white;
  text-transform: uppercase;
}

.footer-bottom {
  background-color: #1a2543;
  color: white;
  height: 296px;
}

.footer-logo {
  height: 138px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer-logo img {
  margin-top: 25px;
  height: 64px;
  width: 46px;
}
.footer-menu {
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer-menu a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  font-family: OpenSansCondensed;
  font-size: 18px;
  font-weight: 300;
}

.footer-copy {
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* ****** Destination - HERRO ****** */
.hero-2-container {
  height: 458px;
  width: 100%;
  background-image: url("./assets/hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left, center;
  background-position-y: 20%;
}
.siterep {
  height: 100px;
  position: relative;
  top: 209px;
  margin-left: 40px;
  margin-right: 40px;
}

.sky-detail {
  display: line;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.sky-detail ul {
  display: flex;
  justify-content: center;
}

.sky-detail li {
  align-items: baseline;
  list-style: none;

  text-align: center;
}

.box {
  border: solid 0.3px lightgrey;
  height: 130px;
}

.sky-detail ul {
  display: flex;
  justify-content: center;
}
.sky-detail h1 {
  margin: -19px 30px 3px 30px;
}

.detail-row {
  display: flex;
  /* margin: 20px; */
  justify-content: center;
  /* margin-top: 20px; */
  padding-top: 30px;
  margin: 7px;
}

.detail-row-r ul {
  display: flex;
  margin: 20px;
}

.detail-row-r li {
  height: 35px;
  align-items: center;
  display: flex;
  list-style: none;
  margin: 5px;
  color: #868484;
}

.dest-middle {
  display: flex;
  justify-content: center;
  color: #504f4f;
}
.dest-middle-l {
  width: 600px;
  margin: 30px;
}
.dest-middle-l h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ul-button {
  display: flex;
  justify-content: center;
  height: 40px;
}

.dest-middle-r h1 {
  color: #0f206c;
  background-color: white;
  position: relative;
  top: -20px;
  left: 27px;
  width: 262px;
}

.dest-middle-r p {
  line-height: 25px;
  text-align: start;
}

.dest-middle-r li {
  display: flex;
  margin: 18px;
}

.dest-middle-r img {
  margin-right: 10px;
}
.dest-middle-r li button {
  background-color: #ffffff;
  margin: px;
  color: #333;
  width: 133px;
  border: solid 1px grey;
  /* width: 100%; */
  height: 35px;
  width: 148px;
}
.middle-box-li {
  margin: 10px;
}

.dest-middle-r {
  width: 330px;
  margin: 10px;
  text-align: center;
  margin-top: 50px;
}
.dest-middle-r-box {
  margin-top: 65px;
  border: solid 1px lightgrey;
}

#btn-1 {
  width: 100%;
  height: 35px;
  background-color: #3ad678;
  color: white;
  border: solid 1px #797777;
  margin-top: 5px;
}
#btn-2 {
  margin: 20px;
  color: white;
  background-color: #3ad678;
  width: 200px;
  height: 35px;
  border: solid 0.1rem white;
  text-transform: uppercase;
}
.btn2-div {
  display: flex;
  justify-content: center;
}

.dest-bottom {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
  top: 20%;
  color: #0f206c;
}
.box img {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: -23px;
  background-color: white;
  margin-left: 5px;
}

.pic-box {
  width: 300px;
  height: 200px;
  margin: 20px;
  color: white;
  background-color: black;
}

h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

/****** cariousel *****/

.flickity-enabled.is-draggable {
  display: flex;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 800%;
  width: 80%;
}

.flickity-slider {
  position: absolute;
  width: 1300px;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;

  transform: translateX(-71.8%);
  position: absolute;
  left: 137.19%;
}
.flickity .is-selected {
  width: 400px;
  position: absolute;
  left: 118.99%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
  position: absolute;
  left: 118.99%;
}
.flickity {
  width: 24%;
}

.flickity img {
  width: 90%;
  height: 300px;
}

.hero-2-container {
  color: white;
  text-align: center;
}
#content-1 {
  position: relative;
  top: 30%;
  font-size: 60px;
}
#content-2 {
  position: relative;
  top: 33%;
  font-size: 50px;
}

/******** *MAP * ************/
.map {
  width: 100%;
  height: 260px;
  background-image: url("./assets/map.jpg");
  background-position: center;
  background-size: cover;
}

/* FormCOMPONENT */

.main form {
  display: flex;
  justify-content: center;
}

.main .details > div {
  margin: 15px;
  font-weight: 200;
}

.main .details > h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

input[type="text"] {
  width: 300px;
}

input {
  width: 350px;
  padding: 10px;
  margin: 5px;
  color: gray;
}

input::placeholder {
  color: gray;
}

.main button {
  color: #ffffff;
  background-color: #0f206c;
  width: 100px;
  padding: 10px;
  margin: 5px;
}

.errorMsg {
  padding: 5px;
  margin: 0px;
  font-size: 11px;
  color: red;
}
